* {
  font-family: 'Open Sans Condensed', sans-serif;
}

body { 
  background-color: white;
  margin: 0;
  padding: 0;
}

header {
  background-color: #37474F;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
}

footer {
  background-color: #37474F;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  position: fixed;
  bottom: 0;
  width: 100%;
}

h1 {
  color: white;
  text-align: center;
  font-size: 300%
  letter-spacing: 8px;
}

h3 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
  letter-spacing: 3px;
  font-size: 150%;
}

/* #textbox {
  margin: 10px;
  padding: 10px;
  border-style: solid;
  border-color: black;
} */

p {
  color: white;
}

.menu {    
    position: sticky; 
    top: 0; 
    background-color: #1B1B1B; 
    border: none;
    width: 100%;
    color: white;
    padding: 15px 32px;
    margin-bottom: 100px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
} 

.button {
  background-color: #1B1B1B; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: left;
  font-size: 21px;
  position: sticky;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5%;
  margin-left: 5%;
}

.button1 {
  background-color: #1B1B1B; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: left;
  font-size: 21px;
  position: sticky;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5%;
  margin-left: 17%;
}
