body {
  font-family: sans-serif;
  background-color: white;
}

header {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
}

h1 {
  color: white;
  text-align: center;
  font-size: 250%;
}

h3 {
  color: black;
  text-align: center;
}

#textbox {
  margin: 10px;
  padding: 10px;
  border-style: solid;
  border-color: black;
}

p {
  color: black;
}

.button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

