* {
  font-family: 'Open Sans Condensed', sans-serif;
}

body { 
  background-color: white;
  margin: 0;
  padding: 0;
}

header {
  background-color: #37474F;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
}

footer {
  background-color: #37474F;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
}

h1 {
  color: white;
  text-align: center;
  font-size: 300%
  letter-spacing: 8px;
}

h3 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
  letter-spacing: 3px;
  font-size: 150%;
}

/* #textbox {
  margin: 10px;
  padding: 10px;
  border-style: solid;
  border-color: black;
} */

p {
  color: white;
}

.menu {    
    position: sticky; 
    top: 0; 
    background-color: #1B1B1B; 
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 5px;
    margin-bottom: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
} 

.button {
  background-color: #1B1B1B; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: left;
  font-size: 30px;
  position: sticky;
  margin-top: 5px;
  margin-right: 50px;
  margin-left: 50px;
}

.better-buttone {
  background-color: #1B1B1B; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: left;
  font-size: 30px;
  position: sticky;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 50px;
}

.better-buttwo {
  background-color: #1B1B1B; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: left;
  font-size: 30px;
  position: sticky;
  margin-top: 5px;
  margin-right: 50px;
  margin-left: 10px;
}
